  <h1><%= @gossip.title %></h1>
  <h2><%= @gossip.content %></h2>
  <h2><%= @gossip.user.name %></h2>
  <a href="/" class="btn btn-primary">menu principale</a>
  <a href="<%= gossip_path(@gossip.id)%>/edit" class="btn btn-primary">Modifier</a>
  <a href="<%= gossip_path(@gossip.id)%>" class="btn btn-danger" data-confirm="Vous être sur le point de supprimer le gossip." data-method="delete">Supprimer</a>